.contact-jumbotron {
    background-image: url("../../assets/images/contact/contactBanana.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    font-family: "East Sea Dokdo", cursive;
    color: black;
}

.btn {
    background-color: rgb(19, 126, 15);
    border: none;
    border-radius: 4px;

    color: beige;
}
